

  .border2 {
    border: solid $letra-morada 2px;
    padding-bottom: 10px;
    border-radius: 0px;
    margin-top: 110px;
    margin-bottom: 20px;
}
  .zonamorada1 {
    background-color: $letra-morada;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15%;
    padding-bottom: 20px;
  }
  .txc-amar{
    color: #FFCC00;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
  }
.subtitle {
  color: #FFFFFF;
  line-height: 26px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-color: grey;

}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
th {
  font-size: 13px;
}

.img-responsive {
  margin-left: 40px;
  margin-top: 30px;
}
.text-capa {
  text-align: center;
}
